{{ define "title" }}Counter example{{ end }}
{{ define "content" }}
<h1 class="text-4xl text-blue-500 font-bold">Counter example</h1>
<div class="py-7 px-14 rounded-md bg-slate-800 text-white">
	<div id="counter" class="w-full mb-5 p-3 bg-slate-700 font-mono text-4xl text-center rounded-md">0</div>
	<div class="flex flex-row justify-around gap-5">
		<button hx-target="#counter" hx-post="/examples/counter/decrement"
			hx-vals="js:{ 'count': Number(document.getElementById('counter').innerHTML) }"
			class="w-10 h-10 text-2xl font-bold rounded-full bg-red-500 hover:opacity-70">-</button>
		<button hx-target="#counter" hx-post="/examples/counter/increment"
			hx-vals="js:{ 'count': Number(document.getElementById('counter').innerHTML) }"
			class="w-10 h-10 text-2xl font-bold rounded-full bg-blue-500 hover:opacity-70">+</button>
	</div>
</div>
{{ end }}